fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
aioredis
tortoise-orm
aerich
python-dotenv
pydantic
pydantic-settings
loguru
requests
colorama
cryptography
Werkzeug
psutil
schedule
flask
flask-cors
slowapi
strawberry-graphql[fastapi]
Jinja2
ipaddress
paramiko
streamlit
